{% extends 'base.html.twig' %}

{% block body %}
    {%for autor in author%}
    <h2 class="page-header">{{autor.title}} <img src="{{autor.icon}}">
        <a class="btn btn-primary" href="{{autor.href}}">LINK</a>
        <a class="btn btn-info" href='http://www.tegie.eu/atom/atom/web/app_dev.php/add'>DODAJ NEWS</a>
    </h2>
    
    <h4>
        {{autor.name}} {{autor.uri}} {{autor.email}}
    </h4>
    {%endfor%}
     <table class="table table-striped">
     <tr>
         <th>PHP NEWS</th>
         <th>EDYCJA </th>
     </tr>
{% for  results in result %}
            <tr>
                <td> 
                    <h3><a href="{{results.XmlId}}">{{results.title}}</a> </h3>{{results.categoryTerm}} | {{results.categoryLabel}}<br>                    
                     {{results.finalTeaserDate}}  {{results.newsImage}}<br> {{results.published}} | {{results.updated}}                                                       
                     <a href="{{results.linkHref}}">{{results.linkRel}}  {{results.linkType}} </a> 
                     <a href="{{results.secondLinkHref}}">{{results.secondLinkRel}}  {{results.secondLinkType}} </a>                 
                     <p>{{results.content}}</p><br><br>                 
                </td>
                <td>
                      <a class="btn btn-success" href='http://www.tegie.eu/atom/atom/web/app_dev.php/edit/{{results.id}}'>EDYCJA</a> <a class="btn btn-danger" href='http://www.tegie.eu/atom/atom/web/app_dev.php/delete/{{results.id}}'>USUN</a> 
                </td>
            </tr>
{% endfor %}
            

    </table>
    
    
    
    
    
{% endblock %}