{% extends 'base.html.twig' %}

{% block body %}
    
    <h2 class="page-header">{{autor.title}} <img src="{{autor.icon}}"> <a class="btn btn-primary" href="{{autor.link.attributes.href}}">LINK</a> <a class="btn btn-info">DODAJ NEWS</a></h2>
    {%for author in autor.author%}
    <h4>{{author.name}} {{author.uri}} {{author.email}}
    {%endfor%}</h4>

 <table class="table table-striped">
     <tr><th>PHP NEWS</th><th>EDYCJA </th></tr>
{% for  results in result %}
            <tr> <td> <h3><a href="{{results.id}}">{{results.numer}}.{{results.title}}</a> </h3>{{results.category.attributes.term}} | {{results.category.attributes.label}}<br>
                    {%for namespaces in results.namespace%}
                     {{namespaces.finalTeaserDate}}  {{namespaces.newsImage}}<br>
                    {%endfor%}
                    {{results.published}} | {{results.updated}} 
                 {%for links in results.link%}
                     <a href="{{links.attributes.href}}">{{links.attributes.rel}}  {{links.attributes.type}} </a> 
                 {%endfor%}
                
                <br><br> 
      </td><td><a class="btn btn-success">EDYCJA</a> <a class="btn btn-danger">USUN</a> </td></tr>
{% endfor %}
            

    </table>



{% endblock %}
